body{
    height: 100%;
    font-family: sans-serif;
    background-color: #d9d9d9;
}
header{
    display: flex;
    background-color: #F42D59;
    justify-content: space-between;
    margin: 2em;
}
header>img{
    width: 30px;
}
footer{
    background-color: #F42D59;
    color: white;
}
footer>p{
    display: flex;
    justify-content: center;
}
#freepik:hover{
    color: #d9d9d9;
}
#submit{
    width: 25%;
    border: none;
    background-color:#F42D59 ;
    color: white;
}
#submit:hover{
    background-color: #d9d9d9;
    color: #F42D59;
}
article>nav>ul{
    display: flex;
    justify-content: center;
}
article>nav>ul>li{
    width: 200px;
    height: 370px;
    margin-right: 0.5em;
    list-style: none;
    background-color: white;
}
article>nav>ul>li>a{
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: black;
    margin-top: 0.3em;
}
article>nav>ul>li>img{
    width: 60px;
    border-radius: 50%;
}
article>img{
    width: 100%;
    height: 500px;
}
form{
    background-color: white;
    padding: 1em;
    width: 250px;
}
#forms{
    display: flex;
    justify-content: center;
}
footer>nav>ul>li>img{
    width: 40px;
    height: 40px;
    border-radius: 100%;
    padding: 0.3em;
}
footer>nav>ul{
    display: flex;
    justify-content: center;
    list-style: none;
    padding-top: 1em;
}